

* {
  box-sizing: border-box;
  margin: 0;
}


html {
  margin: 0;
  padding: 0;
}



/*Nav Bar*/
.nav-bar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 3px 3px 10px lightslategray;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  flex: 1;
  font-size: 40px;
  padding: 20px;
  margin-left: 50px;
  font-family: Satisfy;
}

ul.menu {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

.menu li {
  flex: 1;
  list-style-type: none;
  font-size: 16px;
  font-family: "Barlow Condensed";
  text-align: center;
}

.menu li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.menu li a:hover {
  color: rgb(251, 255, 0);
  text-decoration: underline;
}

/*Banner*/
.banner {
  background-image: url("https://wallpaperaccess.com/full/166023.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 90vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner-text {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.banner-heading h1 {
  flex: 1;
  font-size: 100px;
  font-weight: normal;
  color: #ffffff;
  font-family: Satisfy;
}

.banner-text .form {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 70%;
  padding: 1% 2%;
}

.banner-text input,
.banner-text .date,
.banner-text .book {
  padding: 15px;
  margin-right: 10px;
  font-size: 18px;
  font-family: Roboto;
  border-radius: 5px;
  outline: 0;
  border: none;
}

.banner-text input {
  width: 50%;
  flex: 2;
}

.banner-text .date {
  width: 20%;
  flex: 1;
}

.banner-text .book {
  width: 20%;
  flex: 1;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
  background-color: #fde02f;
  font-size: 16px;
  font-weight: normal;
  font-family: "Barlow Condensed";
  width: 20%;
}



/*Places*/
.places-text {
  text-align: center;
  margin-bottom: 50px;
  font-family: Barlow Condensed;
  font-size: 50px;
  color: #191d34;
  letter-spacing: 1px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.card {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 80%;
  height: auto;
}

.card img {
  max-width: 100%;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}

.cards .text {
  
  padding: 20px;
  font-family: Barlow Condensed;
  line-height: 50px;

}
.cards .card-box {
  display: flex;
  flex-flow: row;
  background-color: #fde02f;
  font-size: 18px;
  font-family: Roboto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*About Us*/
.about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 150px;
}

.about-img {
  flex: 1.5;
}

.about-img img {
  width: 650px;
  height: 550px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.about-text {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
}


.about-text p,
.about-text input{
  flex: 1;
  font-family: Roboto;
}


.about-text h2 {
  flex: 1;
  font-family: Barlow Condensed;
  font-size: 60px;
  color: #191d34;
  width: 450px;
}

.about-text label {
  
  padding-bottom: 10px;
  color: #506172;
  font-weight: bolder;
  font-family: Roboto;
  letter-spacing: 1px;
}

.about-text p {
  width: 500px;
  line-height: 30px;
  color: #506172;
  font-weight: bolder;
  padding: 50px 0;
}

/*Footer*/
.footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 670px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
}

.footer::before {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(0, 0, 36, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer .links {
  position: relative;
  color: #fff;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.links ul {
  list-style-type: none;
}

.links h3 {
  font-family: Barlow Condensed;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 15px;
}

.links li {
  font-family: Roboto;
  cursor: pointer;
  padding: 15px ;
}

.links li:hover {
  color: #ffa801;
}


/*contactus*/

.contact-p{
  background: #fff;
  display:flex;
  margin:80px 0;
}

.contactus{
  display:flex;
  flex:1;
  box-shadow:0px 0px 10px -2px rgba(0,0,0,0.75);
}

.c1{
  background:url("https://static.vecteezy.com/system/resources/previews/000/623/284/original/mountain-logo-vector-illustration.jpg");
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  color:#fff;
  padding:100px 0;
}



.c2{
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.contact{
  width:90%;
  margin:0 auto;
}

.contact h2{
  text-transform:uppercase;
  text-align:center;
  margin-top:50px;
}

.contact h3{
  text-align:center;
  font-size:16px;
  color:#0085e2;
}

.contact input, .inside-contact textarea{
  width:100%;
  background-color:#eee;
  border:1px solid rgba(0,0,0,0.48);
  padding:5px 10px;
  margin-bottom:20px;
}

.contact input[type=submit]{
  background-color:#000;
  color:#fff;
  transition:0.2s;
  border:2px solid #000;
  margin:30px 0;
}

.contact input[type=submit]:hover{
  background-color:#fff;
  color:#000;
  transition:0.2s;
}